tgcrypto
pyrofork
uvloop
python-dotenv
sqlalchemy==1.3.23
pymongo==4.6.1
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
